body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('parallax10.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("parallax8.jpg");
    min-height: 100%;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("parallax9.jpg");
    min-height: 100%;
}

.bgimg-4 {
    background-image: url("parallax5.jpg");
    min-height: 100%;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 0px;
  }

.img-circle {
    margin-left: 610px;
    width: 210px;
    height: 210px;
    margin-top: 8px;
    margin-bottom: 32px;
    border: 1px solid black;
    border-radius: 50%;
}